/*
조건문은 @mixin 안에서 사용하도록 만들 수도 있음.

그래서 매개변수로 넘겨주는 값이 true면 if 문을 실행해주고,
값이 false이면 else 문을 실행해주도록 내부에서 조건문을 짤 수 있음.
*/

/*
parameter 하나만 가지고도 if-else block을 구현할 수 있지만,
하나의 조건식(condition)을 세워서 만들 수도 있음.
*/
// 이 mixin은 x, y, z값을 받아서 left, top offset 값과 z-index 값에 할당해줘서 요소를 정렬하는 스타일 시트를 만들어 줌.
@mixin position($x, $y, $z) {
  position: absolute;
  left: $x;
  top: $y;
  z-index: $z;

  // 조건식을 세울 때, sass에서 equal sign은 '==' 로만 표시해줘야 함. 같지 않음은 '!='로 표현.
  @if ($x == 50% and $y == 50%) {
    // 이 조건식은 left, top로 가운데 정렬을 하려는 경우겠지?
    transform: translate(-50%, -50%);
  } @else if ($x == 50%) {
    // x축만 가운데 정렬 하려는 경우
    transform: translateX(-50%);
  } @else if ($y == 50%) {
    // y축만 가운데 정렬 하려는 경우
    transform: translateY(-50%);
  }
}

div {
  width: 300px;
  height: 300px;
  background: #000;

  @include position(null, 50%, 2);
}
